<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">

    <!-- Javascript -->
    <script src="https://kit.fontawesome.com/483c49b5ee.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <main class="banner-section">
        <div class="banner-wrapper">
            <header>
                <section class="social-media">
                    <div class="phone-container">
                        <i class="fa-solid fa-phone"></i>
                        <span class="social-media-info">
                            +46 731 47 21 22 
                        </span>
                    </div>
                    <div class="email-container">
                        <i class="fa-solid fa-envelope"></i>
                        <span class="social-media-info">
                            info@eaglevisionit.se 
                        </span>
                    </div>
                </section>
            </header>

            <nav>
                <div class="logo-container">
                    <img src="../assets/images/Image 1.png" alt="">
                </div>
                <ul>
                    <li><a href="">Tjänster</a></li>
                    <li><a href="">E-handel</a></li>
                    <li><a href="">Hur vi jobbar</a></li>
                    <li><a href="">Kundcase</a></li>
                    <li><a href="">Guider</a></li>
                    <li><a href="">Om oss</a></li>
                </ul>
                <div class="button-container">
                    <button class="btn">Kontakta oss</button>
                </div>
            </nav>

            <div class="banner-info">
                <p>Webbyrå Stockholm</p>
                <h1>Webbyrån som hjälper er med er digitala tillväxt!</h1>
                <p>Eagle Vision är en fullservice webbyrå i Stockholm. </br>
                Genom långsiktigt engagemang vill vi hjälpa er att maximera er affär, skapa tillväxt och bygga smarta och kreativa lösningar för er!</p>
                <div class="button-container">
                    <button class="btn">Hur jobbar vi?</button>
                    <button class="btn2">Våra tjänster</button>
                </div>
            </div>

            <img src="../assets/images/Image 7.png" alt="">
        </div>
    </main>
</body>
</html>