<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">

    <!-- Javascript -->
    <script src="https://kit.fontawesome.com/483c49b5ee.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="../assets/js/index.js"></script>

    <title>Document</title>
</head>
<body>
    <main class="main-page">
        <div class="banner-wrapper">
            <header>
                <section class="social-media">
                    <div class="phone-container">
                        <i class="fa-solid fa-phone"></i>
                        <span class="social-media-info">
                            +46 731 47 21 22 
                        </span>
                    </div>
                    <div class="email-container">
                        <i class="fa-solid fa-envelope"></i>
                        <span class="social-media-info">
                            info@eaglevisionit.se 
                        </span>
                    </div>
                </section>
            </header>

            <nav>
                <div class="logo-container">
                    <img src="../assets/images/Image 1.png" alt="">
                </div>
                <ul>
                    <li><a href="">Tjänster</a></li>
                    <li><a href="">E-handel</a></li>
                    <li><a href="">Hur vi jobbar</a></li>
                    <li><a href="">Kundcase</a></li>
                    <li><a href="">Guider</a></li>
                    <li><a href="">Om oss</a></li>
                </ul>
                <div class="button-container-header">
                    <button class="btn">Kontakta oss</button>
                </div>

                <div class="ham-menu-icon">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </nav>

            <div class="banner-info">
                <p>Webbyrå Stockholm</p>
                <h1>Webbyrån som hjälper er med er digitala tillväxt!</h1>
                <p>Eagle Vision är en fullservice webbyrå i Stockholm. </br>
                Genom långsiktigt engagemang vill vi hjälpa er att maximera er affär, skapa tillväxt och bygga smarta och kreativa lösningar för er!</p>
                <div class="button-container">
                    <button class="btn">Hur jobbar vi?</button>
                    <button class="btn2">Våra tjänster</button>
                </div>
            </div>

            <img src="../assets/images/Image 7.png" alt="">
        </div>

        <div class="service-wrapper">
            <div class="service-info-container">
                <h2>Fullservice webbyrå med fokus på tillväxt och affärsnytta</h2>
                <p>Med över 100-tals projekt sedan 2012 erbjuder vi flera digitala tjänster såsom webbdesign, UI / UX, webbutveckling, copy-writing, webbanalys, marketing automation samt SEO och SEM. <br>Vi arbetar alltid resultatdrivet för att hela tiden maximera er affär och göra er lönsamma.</p>
                <div class="button-container">
                    <button class="btn">Se våra kundcase</button>
                    <button class="btn2">Se alla tjänster</button>
                </div>
            </div>

            <div class="services-container">
                <div class="service">
                    <img src="../assets/images/noun-development.png" alt="">
                    <h3>Webbutveckling</h3>
                    <p>Wordpress, E-handel, WooCommerce, Integrationer, m.fl.</p>
                </div>

                <div class="service">
                    <img src="../assets/images/noun-palette.png" alt="">
                    <h3>UX & Design</h3>
                    <p>Mockups, Prototyper, konverteringoptimering m.fl.</p>
                </div>

                <div class="service">
                    <img src="../assets/images/noun-data.png" alt="">
                    <h3>Strategi & Analys</h3>
                    <p>Webbanalys, Google Analytics, A/B testning, Dashboards m.fl.</p>
                </div>

                <div class="service">
                    <img src="../assets/images/noun-marketing.png" alt="">
                    <h3>Digital marknadsföring</h3>
                    <p>SEO, SEM, Marketing Automation, Landningsidor m.fl.</p>
                </div>
            </div>
        </div>

        <div class="idea-solution-container">
            <p>Hur vi jobbar</p>
            <h2>Du har idén, vi har lösningen</h2>
            <div class="idea-solutions-wrapper">
                <div class="idea-solution">
                    <img src="../assets/images/Group 6.png" alt="" class="idea-img">
                    <h3>Förstuder & kravställning</h3>
                    <p>Genom workshops tar vi oss tillsammans genom dina idéer och tankar och skriver om dem till kravspecifikation och skapar wireframes.</p>
                </div>

                <img src="../assets/images/Group 11.png" alt="" class="line-img">


                <div class="idea-solution">
                    <img src="../assets/images/Group 7.png" alt="" class="idea-img">
                    <h3>Design & koncept</h3>
                    <p>Från wireframes skapar vi nu upp färdiga designskisser för ert projekt.</p>
                </div>

                <img src="../assets/images/Group 11.png" alt="" class="line-img">


                <div class="idea-solution">
                    <img src="../assets/images/Group 8.png" alt="" class="idea-img">
                    <h3>Utveckling</h3>
                    <p>Efter godkänd design påbörjas nu utvecklingen. Genom projektverktyg kommer ni få kontinuerliga uppdatering under projektets gång.</p>
                </div>

                <img src="../assets/images/Group 11.png" alt="" class="line-img">

                <div class="idea-solution">
                    <img src="../assets/images/Group 9.png" alt="" class="idea-img">
                    <h3>Lansering</h3>
                    <p>Efter att sista testning har skett från er sida så är det dags att lansera projektet.</p>
                </div>

                <img src="../assets/images/Group 11.png" alt="" class="line-img">

                <div class="idea-solution">
                    <img src="../assets/images/Group 10.png" alt="" class="idea-img">
                    <h3>Support & Underhåll</h3>
                    <p>Efter att sista testning har skett från er sida så är det dags att lansera projektet.</p>
                </div>
            </div>
        </div>

        <div class="agency-container">
            <div class="agency-img-container">
                <img src="../assets/images/Group 72.png" alt="">
            </div>
            <div class="agency-info-conatiner">
                <p>Webbyrå i Stockholm</p>
                <h2>Eagle Vision är en webbyrå av duktiga utvecklare och konsulter</h2>
                <p>Eagle Vision brinner för design och marknadsföring. Genom perfekt kombination av professionalism och kreativt individuellt förhållningssätt till varje kund eller projekt så har vi levererat till 100-tals kunder sedan 2014.</p>
                <p>Det vi gör allra bäst är utveckling, implementering och framför allt lösningar inom WordPress & WooCommerce.</p>
                <p>Vår uppgift är hjälpa er att maxa den digitala affären och leverera smarta, kreativa och kostnadseffektiva lösningar.</p>
                <button class="btn">Se våra tjänster</button>
            </div>
        </div>

        <div class="projects-container">
            <div class="projects-info">
                <p>Kundcase</p>
                <h2>Senaste kundcase inom webbdesign, utveckling och marknadsföring</h2>
            </div>
            <div class="projects-category">
                <ul>
                    <li><a href="">Webbdesign</a></li>
                    <li><a href="">Utveckling</a></li>
                    <li><a href="">SEO</a></li>
                    <li><a href="">Marketing automation</a></li>
                </ul>

                <div class="see-all-projects">
                    <a href="">Se alla projekt</a>
                    <i class="fa-solid fa-arrow-right-long"></i>
                </div>
            </div>
            <div class="projects-img">
                <div class="project-img-wrapper">
                    <img src="../assets/images/Image 6.png" alt="">
                    <div class="project-img-info">
                        <span>Webbdesign / Utveckling</span>
                        <div class="project-img-link">
                            <p>Baras.se</p>
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                    </div>
                </div>
                <div class="project-img-wrapper">
                    <img src="../assets/images/Image 6.png" alt="">
                    <div class="project-img-info">
                        <span>Webbdesign / Utveckling</span>
                        <div class="project-img-link">
                            <p>Baras.se</p>
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                    </div>
                </div>
                <div class="project-img-wrapper">
                    <img src="../assets/images/Image 6.png" alt="">
                    <div class="project-img-info">
                        <span>Webbdesign / Utveckling</span>
                        <div class="project-img-link">
                            <p>Baras.se</p>
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                    </div>
                </div>
                <div class="project-img-wrapper">
                    <img src="../assets/images/Image 6.png" alt="">
                    <div class="project-img-info">
                        <span>Webbdesign / Utveckling</span>
                        <div class="project-img-link">
                            <p>Baras.se</p>
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                    </div>
                </div>
                <div class="project-img-wrapper">
                    <img src="../assets/images/Image 6.png" alt="">
                    <div class="project-img-info">
                        <span>Webbdesign / Utveckling</span>
                        <div class="project-img-link">
                            <p>Baras.se</p>
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                    </div>
                </div>
                <div class="project-img-wrapper">
                    <img src="../assets/images/Image 6.png" alt="">
                    <div class="project-img-info">
                        <span>Webbdesign / Utveckling</span>
                        <div class="project-img-link">
                            <p>Baras.se</p>
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-icons-container">
            <div class="project-icons">
                <img src="../assets/images/iconimage(2).png" alt="">
            </div>
            <div class="project-icons">
                <img src="../assets/images/iconimage(5).png" alt="">
            </div>
            <div class="project-icons">
                <img src="../assets/images/iconimage(3).png" alt="">
            </div>
            <div class="project-icons">
                <img src="../assets/images/iconimage(4).png" alt="">
            </div>
            <div class="project-icons">
                <img src="../assets/images/iconimage(1).png" alt="">
            </div>
        </div>

        <div class="quote-container">
            <h2>Så tycker våra kunder</h2>
            <div class="quote-wrapper">
                <p>”Eagle Vision IT hjälpte oss att skala vår WooCommerce E-handel internationellt. Resultatet hjälpte oss att sätta rekord på Black friday med ett antal orders som väldigt få e-handelsbolag i Sverige mäktar med ”</p>
                <span class="quote-author">Johan Pettersson, Spasupport.se</span>
            </div>
        </div>

        <div class="contact-container">
            <h2>Vi vill hjälpa dig!</h2>
            <p>Vi har flera års erfarenhet att hjälpa företag med sina hemsidor och dess digitala tillväxt. Vi kan hjälpa dig hela vägen från ax till limpa.</p>
            <p>Vill ni blir bättre online, synas mer, eller ha hjälp att utveckla bättre hemsida? Ta då kontakt med någon av våra experter.</p>
            <p>Fyll i dina uppgifter så hör vi av oss till dig!</p>

            <form action="">
                <p>Vill ni ha hjälp med ert nästa webbprojekt?</p>
                <div class="form-wrapper">
                    <div class="input-container">
                        <input type="text" placeholder="Din epost">
                        <input type="text" placeholder="Ditt telefonnummer">
                    </div>
                    <textarea type="text" placeholder="Beskriv ditt ärende/uppdrag" class="text-area">
                    </textarea>
                    <div class="form-checkbox-button">
                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox">
                            <p>Acceptera vår integritetspolicy</p>
                        </div>
                        <button class="btn" disabled>Skicka kontaktuppgifter</button>
                    </div>
                </div>
            </form>
        </div>

        <footer>
            <div class="footer-wrapper">
                <div class="eagle-vision common-footer-div">
                    <h3>Eagle Vision</h3>
                    <ul>
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Webbutveckling i Wordpress sedan 2012</p>
                        </li>
    
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Över 100 genomförda projekt</p>
                        </li>
    
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Experter på E-handel för WooCommerce</p>
                        </li>
    
                        <li>
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Långsiktigt samarbete</p>
                        </li>
                    </ul>
                </div>
    
                <div class="surf-around common-footer-div">
                    <h3>Surfa runt</h3>
                    <ul>
                        <li>Om Eagle Vision</li>
                        <li>Så jobbar vi</li>
                        <li>Tjänster</li>
                        <li>E-handel</li>
                        <li>Kundcase</li>
                        <li>Kontakta oss</li>
                    </ul>
                </div>
    
                <div class="contact-us common-footer-div">
                    <h3>Kontakta oss</h3>
                    <ul>
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            <span>
                                <p>E.V Media AB</p>
                                <p>Box 16102 , 111 29 Stockholm</p>
                            </span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            <p>+46 731 47 21 22</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            <p>info@eaglevisionit.se</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="copyright">
                <p>Copyright 2022 © All right reserved</p>
            </div>
        </footer>

        <a href="#" class="scroll-to-top">
            <i class="fa-solid fa-angle-up"></i>
        </a>
    </main>
</body>
</html>