@import 'responsive';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    color: #fff;
    transition: all .4s;
    font-family: 'Montserrat Alternates', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4{
    font-family: 'Montserrat Alternates', sans-serif;
}

p,a,span,li{
    font-size: 17px;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
}

h2{
    font-size: 32px;
}

::placeholder{
    font-size: 15px;
}

@include for-tablet-portrait-up {
    h1{
        font-size: 38px;
    }

    h2{
        font-size: 26px;
    }

    p{
        font-size: 15px;
    }
}