header{
    position: absolute;
    width: 100%;
    z-index: 1;
}

nav{
    position: absolute;
    top: 8%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 80px;

    .logo-container{
        img{
            max-width: 180px;
            height: auto;    
        }
    }

    ul{
        display: flex;
        li{
            margin: 0 10px;
            font-weight: 600;
            a{
                color: #fff;
            }
        }
    }
}

section.social-media{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 10px;
    display: flex;
    justify-content: end;

    .email-container{
        margin-left: 20px;
    }
}