.project-icons-container{
    background-color: #010834;
    padding: 40px;
    margin-top: 2px;
    margin-bottom: 6px;

    .project-icons-wrapper{
        .project-icons{
            width: 20%;
            display: flex !important;
            justify-content: center;
            height: 100px;
            align-items: center;
            img{
                max-width: 140px;
                max-height: 90px;
            }
        }
    }
}