.btn, .disbtn{
    background-color: #2b9dff;
    border: 2px solid #2b9dff;
    padding: 8.5px 15px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.disbtn:disabled{
    pointer-events: none;
    cursor: no-drop;
    opacity: 0.5;
}

.btn:hover, .disbtn:hover{
    background-color: transparent;
}

.btn2{
    background: none;
    border: 2px solid;
    padding: 8.5px 15px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.btn2:hover{
    background-color: #2b9dff;
    border-color: #2b9dff;
}