.scroll-to-top{
    background-color: #0070d1;
    position: fixed;
    z-index: 111;
    padding: 15px 18px;
    border-radius: 5px;
    bottom: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all .4s;

    i{
        font-size: 12px;
    }
}

.scroll-to-top.active{
    opacity: 1;
    bottom: 30px;

    @include for-desktop-up{
        bottom: 40px;
    }
}