ul.slick-dots{
    display: flex;
    justify-content: center;

    li{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 0 5px;
        background-color: #fff;

        button{
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: transparent;
            color: transparent;
        }
    }
    
    .slick-active{
        background-color: black;
    }
    
}
