* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
}

p {
  font-size: 15px;
  line-height: 24px;
}

h2 {
  font-size: 32px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 14px;
  }
}
i {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-right: 5px;
}

span.social-media-info {
  color: #fff;
}

.banner-wrapper {
  height: 110vh;
}

.banner-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-wrapper::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2784313725);
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100%;
}

.btn {
  background-color: #2b9dff;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 15px;
}

.btn2 {
  background: none;
  border: 1.5px solid;
  padding: 8.5px 15px;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

section.social-media {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 10px;
  display: flex;
  justify-content: end;
}
@media (max-width: 900px) {
  section.social-media {
    justify-content: center;
  }
}
section.social-media .email-container {
  margin-left: 20px;
}

nav {
  position: absolute;
  top: 8%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 80px;
}
@media (max-width: 1200px) {
  nav {
    padding: 15px 30px;
  }
}
@media (max-width: 1024px) {
  nav {
    padding: 20px;
  }
}
nav .logo-container img {
  max-width: 180px;
  height: auto;
}
@media (max-width: 1024px) {
  nav .logo-container img {
    max-width: 150px;
  }
}
nav ul {
  display: flex;
}
@media (max-width: 900px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  margin: 0 10px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  nav ul li {
    margin: 5px;
  }
}
@media (max-width: 900px) {
  nav .button-container-header {
    display: none;
  }
}
nav .ham-menu-icon i {
  font-size: 22px;
  display: none;
}
@media (max-width: 900px) {
  nav .ham-menu-icon i {
    display: block;
  }
}

.banner-info {
  position: absolute;
  z-index: 1;
  top: 20%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 150px;
  width: 72%;
}
@media (max-width: 1200px) {
  .banner-info {
    padding: 50px;
    width: 78%;
  }
}
@media (max-width: 600px) {
  .banner-info {
    width: 100%;
  }
}
.banner-info p {
  font-weight: 600;
  margin-bottom: 20px;
}
.banner-info h1 {
  font-size: 42px;
  margin-bottom: 20px;
}
.banner-info .button-container {
  margin-top: 10px;
}

.service-wrapper {
  background-color: #010834;
  display: flex;
  padding: 60px;
}
@media (max-width: 1024px) {
  .service-wrapper {
    flex-direction: column;
  }
}
.service-wrapper .service-info-container, .service-wrapper .services-container {
  padding: 20px;
}
.service-wrapper .service-info-container {
  width: 50%;
}
@media (max-width: 1024px) {
  .service-wrapper .service-info-container {
    width: 100%;
  }
}
.service-wrapper .service-info-container h2 {
  margin-bottom: 20px;
}
.service-wrapper .service-info-container p {
  margin-bottom: 25px;
  font-weight: 600;
}
.service-wrapper .services-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .service-wrapper .services-container {
    width: 100%;
    padding-top: 60px;
  }
}
.service-wrapper .services-container .service {
  width: 50%;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .service-wrapper .services-container .service {
    width: 100%;
  }
}
.service-wrapper .services-container .service img {
  height: 72px;
  margin-bottom: 15px;
}
.service-wrapper .services-container .service h3 {
  margin-bottom: 15px;
}
.service-wrapper .services-container .service p {
  margin-bottom: 15px;
  font-weight: 600;
}

.idea-solution-container {
  padding: 80px;
}
.idea-solution-container p, .idea-solution-container h2, .idea-solution-container h3 {
  color: #000;
  text-align: center;
}
.idea-solution-container p {
  font-weight: 600;
}
.idea-solution-container h2 {
  margin-bottom: 50px;
}
.idea-solution-container h3 {
  margin-bottom: 15px;
}
.idea-solution-container .idea-solutions-wrapper {
  display: flex;
}
@media (max-width: 1024px) {
  .idea-solution-container .idea-solutions-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.idea-solution-container .idea-solutions-wrapper .idea-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
@media (max-width: 1024px) {
  .idea-solution-container .idea-solutions-wrapper .idea-solution {
    width: 30%;
    margin-bottom: 20px;
  }
}
.idea-solution-container .idea-solutions-wrapper .idea-solution .idea-img {
  width: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.idea-solution-container .idea-solutions-wrapper .line-img {
  height: 12px;
  width: 60px;
  margin: 50px 0;
}
@media (max-width: 1024px) {
  .idea-solution-container .idea-solutions-wrapper .line-img {
    height: 12px;
    width: 100px;
  }
}

.agency-container {
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}
.agency-container p, .agency-container h2 {
  color: #000;
  margin-bottom: 20px;
}
.agency-container p {
  font-weight: 600;
}
.agency-container .agency-img-container {
  width: 50%;
  padding: 20px;
}
@media (max-width: 1024px) {
  .agency-container .agency-img-container {
    width: 100%;
  }
}
.agency-container .agency-img-container img {
  width: 100%;
}
.agency-container .agency-info-conatiner {
  padding: 20px;
  width: 50%;
}
@media (max-width: 1024px) {
  .agency-container .agency-info-conatiner {
    width: 100%;
  }
}

.projects-container p, .projects-container h2, .projects-container a, .projects-container i {
  color: #000;
}
.projects-container p, .projects-container a {
  font-weight: 600;
}
.projects-container a {
  font-size: 14px;
}
.projects-container .projects-info {
  padding: 80px 80px 40px 80px;
  width: 50%;
}
@media (max-width: 1024px) {
  .projects-container .projects-info {
    width: 80%;
  }
}
.projects-container .projects-category {
  padding: 0 80px 25px 80px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .projects-container .projects-category {
    flex-direction: column;
  }
}
.projects-container .projects-category ul {
  display: flex;
}
.projects-container .projects-category ul li {
  margin-right: 20px;
}
.projects-container .projects-category .see-all-projects {
  display: flex;
  align-items: center;
}
.projects-container .projects-category .see-all-projects i {
  font-size: 22px;
  margin-left: 15px;
}
.projects-container .projects-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects-container .projects-img .project-img-wrapper {
  width: 33.1%;
  position: relative;
}
@media (max-width: 768px) {
  .projects-container .projects-img .project-img-wrapper {
    width: 49.7%;
  }
}
.projects-container .projects-img .project-img-wrapper img {
  width: 100%;
}

.project-img-info {
  position: absolute;
  z-index: 11;
  bottom: 0;
  margin: 20px;
  background-color: #fff;
  width: 89%;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.project-img-wrapper:hover.project-img-wrapper::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2784313725);
  height: 99%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.project-img-wrapper:hover.project-img-info {
  display: block;
}

.project-icons-container {
  background-color: #010834;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin-top: 5px;
  margin-bottom: 9px;
}
@media (max-width: 900px) {
  .project-icons-container {
    justify-content: space-evenly;
  }
}
@media (max-width: 600px) {
  .project-icons-container {
    justify-content: space-between;
  }
}
.project-icons-container .project-icons {
  width: 20%;
}
@media (max-width: 900px) {
  .project-icons-container .project-icons {
    width: 30%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .project-icons-container .project-icons {
    width: 50%;
    margin-bottom: 20px;
  }
}
.project-icons-container .project-icons img {
  max-width: 140px;
}

/*# sourceMappingURL=style.css.map */
